* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #353d3f;
    font-family: 'Quicksand', 'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.intro {
    position: absolute;
    width: 70%;
    top: 40%;
    left: 10%;
    color: #fff;
}
h1 {
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.main-nav {
    margin-top: 2%;
    float: right;
    list-style: none;

}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;

   }