* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f4f5f6;
    color: #353d3f;
    font-family: 'Quicksand', 'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.intro {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-45% , -40%);
    color: #fff;
    /* border: 1px solid red; */
}
h1 {
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.main-nav {
    margin-top: 2%;
    float: right;
    list-style: none;

}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited
{
    padding-bottom: 6px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s , font-weight 0.3s , font-size 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #2d3436;
    font-weight: 600;
    font-size: 100%;
}

h2 {
    font-size: 180%;
}
.about-section {
    padding-top: 10px;
}
#about {
    float: right;
    margin: 2% 3% 0 0;
    font-weight: 300;    
}
#about-body {
    width: 40%;
    font-weight: 500;
    font-size: 70%;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    float: right;
    margin: 12% auto;
    padding: 1% 1%;
    border-radius: 10px;
    border: 3px solid #2d34361a;
}
#imm {
    width: 30%;
    position: absolute;
    top: 25%;
}
#profile-pic {
    border-radius: 500px;
    max-width:100%;
    height:auto;
}